<!-- Script ------------------------------------------------------------------->
<script lang="ts">
    // Imports /////////////////////////////////////////////////////////////////
	import Moon from "$lib/components/icons/moon.svelte"
	import Sun from "$lib/components/icons/sun.svelte"
    import { darkMode } from '$lib/stores/dark-mode'

</script>


<!-- HTML --------------------------------------------------------------------->

<div class="
    w-16 h-14 flex justify-center items-center

    drop-shadow-[0_0_0.5px_rgba(9,9,11,0.16)]
    dark:drop-shadow-[0_0_1px_rgba(55,65,81,0.32)]
">
    <label class="relative inline-flex items-center cursor-pointer">
        <div class="relative">
            <input type="checkbox" bind:checked={$darkMode} class="sr-only peer">
            <div class="
                w-11 h-6
                bg-zinc-200 rounded-full
                peer

                peer-focus:ring-blue-300

                peer-checked:after:translate-x-full 
                after:content-['']

                after:absolute
                after:top-0.5
                after:left-[2px]
                after:bg-zinc-50
                after:border-zinc-300
                after:border
                after:rounded-full

                /* circle size */
                after:h-5
                after:w-5
                after:transition-all

                /* dark mode background */
                peer-checked:bg-zinc-600

                peer-checked:after:bg-zinc-500
                peer-checked:after:border-zinc-700
                after:border-opacity-80
                peer-checked:after:border-opacity-70

                flex
                justify-between
                items-center
            ">
                <div class="ml-[3px]"><Moon /></div>
                <div class="mr-[3px]"><Sun /></div>
            </div>
        </div>
    </label>

</div>

<!----------------------------------------------------------------------------->
