<!-- Script ------------------------------------------------------------------->
<script lang="ts">
    // Imports /////////////////////////////////////////////////////////////////
	import Bars from "$lib/components/icons/bars.svelte"
    import { mobileMenu } from '$lib/stores/mobile-menu'

</script>


<!-- HTML --------------------------------------------------------------------->

<button on:click={() => mobileMenu.update(x => !x)} class="menu-btn
    w-16 h-full

    transition-colors
    duration-300

    hover:bg-primary-hover
    dark:hover:bg-primary-hover-dark

    flex
    items-center
    justify-center
">
    <Bars />
</button>

<!----------------------------------------------------------------------------->
