<!-- Script ------------------------------------------------------------------->
<script lang="ts"></script>

<!-- HTML --------------------------------------------------------------------->
<div class="
    w-fit h-full
    px-3
    box-border
    flex
    items-center
    justify-center
">
    <span class="
        inline-block
        font-title text-primary+1 text-3xl xsm:text-4xl
        text-shadow shadow-title-shadow/[.48]

        transition-colors

        dark:text-primary-1
        dark:shadow-title-shadow-dark/[.48]

        select-none
    ">
        Translator
    </span>
</div>



<!----------------------------------------------------------------------------->
