<!-- Script ------------------------------------------------------------------->
<script lang="ts">
    // Imports /////////////////////////////////////////////////////////////////
	import About from "$lib/components/icons/about.svelte"
	import Contact from "$lib/components/icons/contact.svelte"
	import Github from "$lib/components/icons/github.svelte"
    import Home from "$lib/components/icons/home.svelte"
    import MenuBtn from "$lib/components/toolbar/menu-btn.svelte"
    import Title from "$lib/components/toolbar/title.svelte"
    import { mobileMenu } from '$lib/stores/mobile-menu'
    import { page, navigating } from '$app/stores'
	import MenuItem from "$lib/components/toolbar/menu-item/menu-item.svelte"

    import DarkModeToggle
    from "$lib/components/toolbar/dark-mode-toggle.svelte"

	import MenuItemSmall
    from "$lib/components/toolbar/small-menu-item/small-menu-item.svelte"

    import SmallMobileMenuItem
    from "$lib/components/toolbar/small-menu-item/small-mobile-menu-item.svelte"

	import MobileMenuItem
    from "$lib/components/toolbar/menu-item/mobile-menu-item.svelte"

    // Types ///////////////////////////////////////////////////////////////////
    type Page = 'home' | 'about' | 'contact' | null

    // Functions ///////////////////////////////////////////////////////////////

    /**
     * Function that parses the current or giben path as type `Page`.
     */
    function getPage(path: string | null | undefined = undefined): Page {
        let route
        if (path) { route = path }
        else { route = $page.route.id }

        if (!route) { return null }
        if (route === '/') { return 'home' }
        if (route.includes('about')) { return 'about' }
        if (route.includes('contact')) { return 'contact' }
        return null
    }

    // Variables ///////////////////////////////////////////////////////////////
    let currentPage: Page = getPage()
    $: if($navigating) { currentPage = getPage($navigating.to?.route.id) }

</script>

<!-- HTML --------------------------------------------------------------------->

<!-- Super small Toolbar ([screen] <= xsm) -->
<nav class="
    xsm:hidden

    bg-card
    w-full h-16
    z-[99]
    transition-colors

    fixed
    flex justify-between

    box-border border-b-[.5px] border-b-border/[.16]
    shadow-[0_0_6px_0] shadow-card-shadow/[.24]

    dark:bg-card-dark
    dark:border-b-border-dark/[.32]
    dark:shadow-card-shadow/[.48]
">
    <div class="nav-left">
        <MenuBtn />
    </div>

    <div class="nav-right">
        <Title />
    </div>
</nav>

<!-- Mobile Toolbar (xsm <= [screen] <= sm) -->
<nav class="
    max-xsm:hidden
    sm:hidden

    bg-card
    w-full h-16
    z-[99]
    transition-colors

    fixed
    flex justify-between

    box-border border-b-[.5px] border-b-border/[.16]
    shadow-[0_0_6px_0] shadow-card-shadow/[.24]

    dark:bg-card-dark
    dark:border-b-border-dark/[.32]
    dark:shadow-card-shadow/[.48]
">
    <div class="nav-left">
        <MenuBtn />
    </div>

    <div class="nav-middle
        w-auto h-full absolute left-1/2 -translate-x-1/2
    ">
        <Title />
    </div>

    <div class="nav-right">
    </div>
</nav>

<!-- Tablet Toolbar (sm <= [screen] <= lg) -->
<nav class="
    max-sm:hidden
    lg:hidden

    bg-card
    w-full h-16
    z-[99]
    transition-colors

    fixed
    flex justify-between

    box-border border-b-[.5px] border-b-border/[.16]
    shadow-[0_0_6px_0] shadow-card-shadow/[.24]

    dark:bg-card-dark
    dark:border-b-border-dark/[.32]
    dark:shadow-card-shadow/[.48]
">
    <div class="nav-left">
        <MenuBtn />
    </div>

    <div class="nav-middle
        w-auto h-full absolute left-1/2 -translate-x-1/2
    ">
        <Title />
    </div>

    <div class="nav-right flex items-center">
        <MenuItemSmall href="https://gitlab.com/wbh-agw" target="_blank">
            <Github/>
        </MenuItemSmall>

        <DarkModeToggle/>

        <!-- Spacer -->
        <div class="w-3"></div>

    </div>
</nav>

<!-- Desktop (lg <= [screen]) -->
<nav class="
    max-lg:hidden

    bg-card
    w-full h-16
    z-[99]
    transition-colors

    fixed
    flex justify-between

    box-border border-b-[.5px] border-b-border/[.16]
    shadow-[0_0_6px_0] shadow-card-shadow/[.24]

    dark:bg-card-dark
    dark:border-b-border-dark/[.32]
    dark:shadow-card-shadow/[.48]
">
    <div class="nav-left">
        <Title />
    </div>

    <div class="nav-middle
        w-auto h-full absolute left-1/2 -translate-x-1/2 flex
    ">
        <MenuItem
            title="Home" href="/" active={currentPage === 'home'}
        />
        <MenuItem
            title="About" href="/about" active={currentPage === 'about'}
        />
        <MenuItem
            title="Contact" href="/contact" active={currentPage === 'contact'}
        />
    </div>

    <div class="nav-right flex items-center">
        <MenuItemSmall href="https://gitlab.com/wbh-agw" target="_blank">
            <Github/>
        </MenuItemSmall>

        <DarkModeToggle/>

        <!-- Spacer -->
        <div class="w-3"></div>
    </div>
</nav>

<!-- Mobile Menu -->
<div data-show="{$mobileMenu}" class="mobile-menu
    lg:hidden

    bg-card
    w-full h-auto
    z-[98]
    transition-all

    fixed
    top-16
    box-border border-b-[.5px] border-b-border/[.16]
    duration-200

    -translate-y-[101%]
    data-[show=true]:-translate-y-1

    drop-shadow-none
    data-[show=true]:shadow-[0_0_6px_0]
    data-[show=true]:shadow-card-shadow/[.24]

    dark:bg-card-dark
    dark:border-b-border-dark/[.32]
    dark:shadow-card-shadow/[.48]
">
    <!-- Spacer (to not see content "through" the edge on mobile) -->
    <div class="h-1"></div>

    <MobileMenuItem
        title="Home" href="/" active={currentPage === 'home'}
    >
        <Home/>
    </MobileMenuItem>

    <MobileMenuItem
        title="About" href="/about" active={currentPage === 'about'}
    >
        <About/>
    </MobileMenuItem>

    <MobileMenuItem
        title="Contact" href="/contact" active={currentPage === 'contact'}
    >
        <Contact/>
    </MobileMenuItem>

    <!-- other items -->
    <div class="sm:hidden">
        <div class="mobile-menu-divider
            w-full h-4
            px-4
            flex justify-center items-center
        ">
            <hr class="
                w-full h-[1px] 
                bg-border/[.16] dark:border-dark/[.32] rounded border-0
            ">
        </div>

        <SmallMobileMenuItem
            title="Code Repository"
            href="https://gitlab.com/wbh-agw"
            target="_blank"
        >
            <Github/>
        </SmallMobileMenuItem>

        <SmallMobileMenuItem title="Toggle Dark Mode">
            <DarkModeToggle />
        </SmallMobileMenuItem>
    </div>
</div>

<!----------------------------------------------------------------------------->
