<!-- Script ------------------------------------------------------------------->
<script lang="ts">
	import Card from "$lib/components/card.svelte";

</script>

<!-- HTML --------------------------------------------------------------------->
<Card class="!overflow-hidden">
    <div class="tutorial-header
        h-12
        box-border border-b-[1px] border-b-border/[.16]
        dark:border-b-border-dark/[.48]
        transition-all
        flex items-center
        px-3
    ">
        <span class="title
            font-text font-medium
            text-lg text-text-2nd dark:text-text-2nd-dark
            select-none
        ">Video-Tutorial</span>
    </div>

    <div class="video-container
        bg-zinc-950
        overflow-x-auto flex justify-center items-center
    ">
        <video controls class="min-w-[300px]" playsinline>
            <source src="video-tutorial.mp4" type="video/mp4">
            <track kind="captions">
            Your browser does not support the video tag.
        </video>

        <!-- <div class="
            w-full min-w-[300px] h-[320px] bg-zinc-400 dark:bg-zinc-600
        "></div> -->
    </div>
</Card>

<!----------------------------------------------------------------------------->
