<!-- Script ------------------------------------------------------------------->
<script lang="ts">
	import Close from "$lib/components/icons/close.svelte"
</script>

<!-- HTML --------------------------------------------------------------------->

<div class="w-full flex flex-col items-center">
    <Close class="
        w-14 h-14 text-accent-1 dark:text-accent-1/[.85]
        mt-20
    "/>
    <span class="
        w-full text-center mt-10
        text-xl font-normal
        text-text-2nd dark:text-text-2nd-dark
    ">
        This page does not exist.
        <br>
        Return to
        <a  href="/"
            class="
                underline decoration-wavy
                decoration-accent-1 dark:decoration-accent-1/[.85]
                underline-offset-[3px]
        ">Home</a>.
    </span>
</div>

<!----------------------------------------------------------------------------->
