<!-- Script ------------------------------------------------------------------->
<script lang="ts">
    // Imports /////////////////////////////////////////////////////////////////
    import '../app.css'
    import { darkMode } from '$lib/stores/dark-mode'
	import { onMount } from 'svelte'
    import Toolbar from '$lib/components/toolbar/toolbar.svelte'

    // Variables ///////////////////////////////////////////////////////////////

    // Variable that delays rendering until 'onMount' is done (prevents
    // color theme flashing because of change).
    let render = false

    // Lifecycle ///////////////////////////////////////////////////////////////

    onMount(() => {
        // TODO: Comment-IN code below

        // Get system color scheme
        if (window.matchMedia &&
            window.matchMedia('(prefers-color-scheme: dark)').matches
        ) {
            darkMode.set(true)
        }

        // Listen for system color theme changes
        window.matchMedia('(prefers-color-scheme: dark)').addEventListener(
            'change',
            event => {
                darkMode.set(event.matches)
            }
        );

        render = true
    })

    ////////////////////////////////////////////////////////////////////////////
</script>

<!-- HTML -------------------------------------------------------------------->

<!-- Head -->
<svelte:head>
    <title>Translator</title>
</svelte:head>

{#if render}
<!-- Background -->
<div class="
    w-screen h-screen
    fixed -z-[100]
    bg-background dark:bg-background-dark
    transition-colors
">
</div>

<!-- Toolbar -->
<Toolbar />

<!-- Container of fixed size holding the scroll bar and the content -->
<div class="
    w-full h-[calc(100vh_-_64px)]
    fixed top-16 overflow-auto
">
    <!-- Width limited contend "shell" -->
    <div class="max-w-screen-lg p-5 pb-0 relative -translate-x-1/2 left-1/2">
        <!-- Content (Slot) -->
        <slot></slot>
    </div>
</div>


{/if}

<!----------------------------------------------------------------------------->
