<!-- Script ------------------------------------------------------------------->
<script lang="ts">
	import Translator from "$lib/components/translator/translator.svelte"

	import VideoTutorial
    from "$lib/components/video-tutorial/video-tutorial.svelte"

</script>

<!-- HTML --------------------------------------------------------------------->

<div class="flex flex-col space-y-12 md:space-y-reverse">
    <Translator />
    <VideoTutorial />
</div>

<!----------------------------------------------------------------------------->
