<!-- Script ------------------------------------------------------------------->
<script lang="ts">
    // Imports /////////////////////////////////////////////////////////////////

    // Properties //////////////////////////////////////////////////////////////
    export let href: string | undefined
    export let target: string = ''

</script>


<!-- HTML --------------------------------------------------------------------->

<a {href} {target} class="menu-btn
    flex
    hover:bg-primary-hover
    active:bg-primary-click
    dark:hover:bg-primary-hover-dark
    dark:active:bg-primary-click-dark

    w-16 h-full
    relative

    transition-colors
    duration-300
">

    <div class="
        w-full h-full
        flex justify-center items-center
        peer
    ">
        <slot></slot>
    </div>
</a>



<!----------------------------------------------------------------------------->
