<!-- Script ------------------------------------------------------------------->
<script lang="ts">
    // Imports /////////////////////////////////////////////////////////////////

    // Properties //////////////////////////////////////////////////////////////
    export let title: string
    export let href: string | undefined = undefined
    export let target: string = ''

</script>


<!-- HTML --------------------------------------------------------------------->

{#if href !== undefined}
    <a {href} {target} class="menu-btn
        flex
        hover:bg-primary-hover
        dark:hover:bg-primary-hover-dark

        transition-colors
        duration-300
    ">
        <div class="w-16 h-14 flex justify-center items-center">
            <slot></slot>
        </div>

        <div class="w-auto h-14 flex justify-center items-center">
            <span class="
                font-text font-medium
                text-md
                text-text-2nd
                dark:text-text-2nd-dark
            ">
                {title}
            </span>
        </div>
    </a>
{:else}
    <div class="menu-btn
        
        flex

        transition-colors
        duration-300
    ">
        <div class="w-16 h-14 flex justify-center items-center">
            <slot></slot>
        </div>

        <div class="w-auto h-14 flex justify-center items-center">
            <span class="
                font-text font-medium
                text-md
                text-text-2nd
                dark:text-text-2nd-dark

                select-none
            ">
                {title}
            </span>
        </div>
    </div>
{/if}



<!----------------------------------------------------------------------------->
