<!-- Script ------------------------------------------------------------------->
<script lang="ts"></script>

<!-- HTML --------------------------------------------------------------------->

<!-- "info-circle" from https://flowbite.com/icons -->
<svg
    class="w-6 h-6 text-primary+1 dark:text-primary-1 transition-colors"
    aria-hidden="true"
    xmlns="http://www.w3.org/2000/svg"
    fill="currentColor"
    viewBox="0 0 20 20"
>
    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
</svg>

<!----------------------------------------------------------------------------->
