<!-- Script ------------------------------------------------------------------->
<script lang="ts"></script>

<!-- HTML --------------------------------------------------------------------->

<!-- "bars" from https://flowbite.com/icons -->
<svg
    class="w-6 h-6 text-primary+1 dark:text-primary-1 transition-colors"
    aria-hidden="true"
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 17 14"
>
    <path
        stroke="currentColor" stroke-linecap="round"
        stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"
    />
</svg>

<!----------------------------------------------------------------------------->
