<!-- Script ------------------------------------------------------------------->
<script lang="ts"></script>

<!-- HTML --------------------------------------------------------------------->

<!-- "caret-down" from https://flowbite.com/icons -->
<svg
    class="w-4 h-4 text-text-2nd dark:text-text-2nd-dark transition-colors"
    aria-hidden="true"
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 10 16"
>
    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5m0 6 4 4 4-4"/>
</svg>


<!----------------------------------------------------------------------------->
