<!-- Script ------------------------------------------------------------------->
<script lang="ts"></script>

<!-- HTML --------------------------------------------------------------------->

<!-- "arrows-repeat" from https://flowbite.com/icons -->
<svg
    class="w-4 h-4 text-text-2nd dark:text-text-2nd-dark transition-colors"
    aria-hidden="true"
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 20 18"
>
    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 14 3-3m-3 3 3 3m-3-3h16v-3m2-7-3 3m3-3-3-3m3 3H3v3"/>
</svg>

<!----------------------------------------------------------------------------->
