<!-- Script ------------------------------------------------------------------->
<script lang="ts">
    // Imports /////////////////////////////////////////////////////////////////
	import { mobileMenu } from '$lib/stores/mobile-menu'

    // Properties //////////////////////////////////////////////////////////////
    export let title: string
    export let href: string
    export let active: boolean = false

</script>


<!-- HTML --------------------------------------------------------------------->

<a {href} on:click={() => mobileMenu.set(false) } class="menu-btn
    flex
    hover:bg-primary-hover
    active:bg-primary-click
    dark:hover:bg-primary-hover-dark
    dark:active:bg-primary-click-dark

    transition-colors
    duration-300
">
    <div class="w-16 h-14 flex justify-center items-center">
        <slot></slot>
    </div>

    <div class="w-auto h-14 flex justify-center items-center">
        <span class="
            font-text font-medium
            text-primary+1 text-xl
            dark:text-primary-1

            underline
            decoration-wavy decoration-2 decoration-accent-1/[0]
            underline-offset-[3px]

            transition-all
            duration-300

            {active === true
                ? `
                    decoration-accent-1/[1]
                    dark:decoration-accent-1/[.85]
                `
                : ''
            }
        ">
            {title}
        </span>
    </div>
</a>

<!----------------------------------------------------------------------------->
