<!-- Script ------------------------------------------------------------------->
<script lang="ts">
	import UnderConstruction from "$lib/components/under-construction.svelte";

</script>

<!-- HTML --------------------------------------------------------------------->

<UnderConstruction />

<!----------------------------------------------------------------------------->
