<!-- Script ------------------------------------------------------------------->
<script lang="ts">
    // Imports /////////////////////////////////////////////////////////////////
    import CaretDown from '$lib/components/icons/caret-down.svelte'
	import { languages, type LanguageCode } from '$lib/stores/translation'
    import * as Flag from 'svelte-flag-icons'

    // Properties //////////////////////////////////////////////////////////////
    export let code: string

    // Inner State /////////////////////////////////////////////////////////////
    let show = false
    $: lang = languages.find(code as LanguageCode)

</script>


<!-- HTML --------------------------------------------------------------------->

<!-- Dropdown (Button) -->
<button on:click={() => show = !show} class="dropdown-button
    relative
    w-full h-12 flex items-center justify-between px-1
">
    <div class="h-12 flex items-center justify-between">
        <div class="w-12 h-12 flex justify-center items-center">
            <div class="flag-container
                w-8
                flex justify-center items-center
                overflow-hidden
                rounded-[4px]

                shadow-[0_0_1.5px_0]
                shadow-card-shadow/[.48]
                dark:shadow-card-shadow/[.64]
                dark:brightness-[.85]

                transition-all
            ">
                <svelte:component this="{Flag[lang.flag]}"
                    class="focus:outline-none bg-transparent"
                    width=100% height=100%
                />
            </div>
        </div>
        <span class="
            inline-block
            font-text font-medium
            text-text-2nd dark:text-text-2nd-dark
            text-lg
            select-none

            transition-all
        ">
                {lang.name}
        </span>
    </div>

    <div class="
        w-12 h-12
        flex justify-center items-center
        transition-transform duration-300
        {show === true
            ? 'rotate-180'
            : ''
        }
    ">
        <CaretDown />
    </div>

    <!-- Dropdown Selection (Wrapper: for visibility only) -->
    <div class="dropdown-wrapper
        absolute
        w-[90%]
        top-14
        left-1/2
        -translate-x-1/2

        z-[90]

        {show
            ? 'visible [transition:_visibility_0s]'
            : '[visibility:hidden] [transition:_visibility_0s_300ms]'
        }
    ">

        <!-- Dropdown Selection (Holder: for animating opacity) -->
        <div class="dropdown-holder
            overflow-hidden
            rounded-lg
            box-border border-[.5px] border-border/[.16]
            shadow-[0_0_6px_2px] shadow-dropdown-shadow/[.16]
            bg-dropdown

            dark:bg-dropdown-dark
            dark:border-border-dark/[.32]
            dark:shadow-card-shadow/[.32]

            p-2

            flex-col space-y-2

            transition-all
            duration-300
            {show ? 'opacity-100' : 'opacity-0'}
        ">
            {#each languages.list as {code: l_code, name: l_name, flag: l_flag}}
            <label on:input={() => show = false} class="
                h-12 flex items-center cursor-pointer
                rounded-lg

                transition-colors
                duration-300

                {code === l_code
                    ? `
                        bg-zinc-100 dark:bg-zinc-500
                        shadow-[0_0_1px_0px] shadow-dropdown-shadow/[.16]
                        transition-all
                    `
                    : ''
                }
            ">
                <div class="w-12 h-12 flex justify-center items-center">
                    <div class="flag-container
                        w-8
                        flex justify-center items-center
                        overflow-hidden
                        rounded-[4px]

                        shadow-[0_0_1.5px_0]
                        shadow-card-shadow/[.48]
                        dark:shadow-card-shadow/[.64]
                        dark:brightness-[.85]
                        transition-all
                    ">
                        <svelte:component this="{Flag[l_flag]}"
                            class="focus:outline-none" width=100% height=100%
                        />
                    </div>
                </div>

                <input
                    bind:group={code} type="radio"
                    name="langs" value={l_code}
                    class="hidden"
                />

                <span class="
                    inline-block
                    font-text
                    text-text-2nd dark:text-text-2nd-dark
                    text-md
                    text-clip
                    overflow-hidden
                    select-none
                    transition-all
                ">
                    {l_name}
                </span>
            </label>
            {/each}
        </div>
    </div>
</button>



<!----------------------------------------------------------------------------->
