<!-- Script ------------------------------------------------------------------->
<script lang="ts">
    import Button from "$lib/components/button.svelte"
    import Card from "$lib/components/card.svelte"
	import Switch from "$lib/components/icons/switch.svelte"
    import { save, translate } from "$lib/api"

    import { srcLangCode, dstLangCode, srcText, dstText, isTranslated }
    from '$lib/stores/translation'

	import LanguageSelect
    from "$lib/components/translator/language-select.svelte"

    // Inner State /////////////////////////////////////////////////////////////
    let enableTranslation   = $srcText === '' ? false : true
    let enableSave          = $isTranslated

    $: enableTranslation    = $srcText === '' ? false : true
    $: enableSave           = $isTranslated

    let loading = false

    // Functions ///////////////////////////////////////////////////////////////

    function switchLanguages() {
        let tmp = $srcLangCode
        $srcLangCode = $dstLangCode
        $dstLangCode = tmp
    }

    function onSrcchange() {
        $isTranslated = false
    }

    async function onClickTranslate() {
        // Disable buttons
        enableTranslation = false
        enableSave = false
        let timeout = setTimeout(() => { loading = true }, 100)

        // Call api
        const result = await translate($srcText)

        clearTimeout(timeout)

        // Enable buttons
        loading = false
        enableTranslation = true
        enableSave = true

        // Set translation
        $dstText = result.translation
        $isTranslated = true
    }

    async function onClickSave() {
        // Call api
        const data = await save($srcText, $dstText)

        // Create a tag
        const url = window.URL.createObjectURL(data)
        const a = document.createElement('a')

        a.style.display = 'none'
        a.href = url
        a.download = 'translation.txt'
        document.body.appendChild(a)

        // Download file
        a.click()
        window.URL.revokeObjectURL(url)
        document.body.removeChild(a)
    }

</script>


<!-- HTML --------------------------------------------------------------------->

<!-- <= lg -->
<Card class="md:hidden">
    <div class="src-lang-select
        box-border border-b-[1px] border-b-border/[.16]
        dark:border-b-border-dark/[.48]
        transition-all
    ">
        <LanguageSelect bind:code={$srcLangCode} />
    </div>

    <div class="src-txt
        p-2
        box-border border-b-[1px] border-b-border/[.16]
        dark:border-b-border-dark/[.48]
        transition-all
    ">
        <textarea class="
            block w-full min-h-[180px]
            bg-transparent outline-0
            font-text text-lg
            text-text-2nd
            dark:text-text-2nd-dark
            transition-colors
        "
            bind:value={$srcText}
            on:input={onSrcchange}
            placeholder="Enter or paste text here..."
        />
    </div>

    <div class="dst-lang-select
        box-border border-b-[1px] border-b-border/[.16]
        dark:border-b-border-dark/[.48]
        transition-all
    ">
        <LanguageSelect bind:code={$dstLangCode} />
    </div>

    <div class="dst-text
        p-2
        box-border border-b-[1px] border-b-border/[.16]
        dark:border-b-border-dark/[.48]
        transition-all
        relative
    ">
        <!-- Loading text animation -->
        <div class="loading-animation-wrapper
            absolute w-[calc(100%_-_16px)] p-2
            { loading === true
                ? 'visible [transition:_visibility_0s'
                : '[visibility:hidden] [transition:_visibility_0s_300ms]'
            }
        ">
            <div role="status" class="
                space-y-2.5 animate-pulse max-w-lg
                transition-opacity
                duration-300
                { loading === true ? 'opacity-100' : 'opacity-0' }
            ">
                <div class="flex items-center w-full space-x-2">
                    <div class="
                        w-32 h-2.5 rounded-full
                        bg-zinc-200 dark:bg-zinc-600
                    "></div>

                    <div class="
                        w-24 h-2.5 rounded-full
                        bg-zinc-300 dark:bg-zinc-800
                    "></div>

                    <div class="
                        w-full h-2.5 rounded-full
                        bg-zinc-300 dark:bg-zinc-800
                    "></div>
                </div>

                <div class="flex items-center w-full space-x-2 max-w-[480px]">
                    <div class="
                        w-full h-2.5 rounded-full 
                        bg-zinc-200 dark:bg-zinc-600 
                    "></div>

                    <div class="
                        w-full h-2.5 rounded-full
                        bg-zinc-300 dark:bg-zinc-800
                    "></div>

                    <div class="
                        w-24 h-2.5 rounded-full
                        bg-zinc-300 dark:bg-zinc-800 
                    "></div>
                </div>

                <div class="flex items-center w-full space-x-2 max-w-[400px]">
                    <div class="
                        w-full h-2.5 rounded-full
                        bg-zinc-300 dark:bg-zinc-800
                    "></div>

                    <div class="
                        w-80 h-2.5 rounded-full
                        bg-zinc-200 dark:bg-zinc-600
                    "></div>

                    <div class="
                        w-full h-2.5 rounded-full 
                        bg-zinc-300 dark:bg-zinc-800
                    "></div>
                </div>

                <div class="flex items-center w-full space-x-2 max-w-[480px]">
                    <div class="
                        w-full h-2.5 rounded-full
                        bg-zinc-200 dark:bg-zinc-600
                    "></div>

                    <div class="
                        w-full h-2.5 rounded-full
                        bg-zinc-300 dark:bg-zinc-800
                    "></div>

                    <div class="
                        w-24 h-2.5 rounded-full
                        bg-zinc-300 dark:bg-zinc-800
                    "></div>
                </div>

                <div class="flex items-center w-full space-x-2 max-w-[440px]">
                    <div class="
                        w-32 h-2.5 rounded-full
                        bg-zinc-300 dark:bg-zinc-800
                    "></div>

                    <div class="
                        w-24 h-2.5 rounded-full
                        bg-zinc-300 dark:bg-zinc-800
                    "></div>

                    <div class="
                        w-full h-2.5 rounded-full
                        bg-zinc-200 dark:bg-zinc-600
                    "></div>
                </div>

                <div class="flex items-center w-full space-x-2 max-w-[360px]">
                    <div class="
                        w-full h-2.5 rounded-full
                        bg-zinc-300 dark:bg-zinc-800
                    "></div>

                    <div class="
                        w-80 h-2.5 rounded-full
                        bg-zinc-200 dark:bg-zinc-600
                    "></div>

                    <div class="
                        w-full h-2.5 rounded-full
                        bg-zinc-300 dark:bg-zinc-800
                    "></div>
                </div>

                <span class="sr-only">Loading...</span>
            </div>
        </div>

        <!-- Translation (dst text) -->
        <textarea class="
            block w-full min-h-[180px]
            bg-transparent outline-0

            font-text
            text-lg
            text-text-2nd
            dark:text-text-2nd-dark

            disabled:text-text-2nd
            disabled:dark:text-text-2nd-dark

            transition-[colors,opacity]

            { loading === true
                ? 'opacity-0 duration-100'
                : 'opacity-100 duration-300'
            }
        "
            disabled
            bind:value={$dstText}
            placeholder="The translation will appear here..."
        />
    </div>

    <div class="btn-box
        p-2 flex justify-end space-x-4 xsm:justify-around sm:justify-end
    ">
        <Button
            title="Translate" enabled={enableTranslation}
            on:click={onClickTranslate}
        />

        <Button
            title="Save" enabled={enableSave}
            on:click={onClickSave}
        />

    </div>
</Card>

<!-- lg <= [screen] <= ... -->
<Card class="max-md:hidden">
    <div class="
        flex
        box-border border-b-[1px] border-b-border/[.16]
        dark:border-b-border-dark/[.48]
    ">
        <div class="src-lang-select flex-1">
            <LanguageSelect bind:code={$srcLangCode} />
        </div>

        <div class="
            switcher w-12 h-12
            hover:bg-primary-hover
            active:bg-primary-click
            dark:hover:bg-primary-hover-dark
            dark:active:bg-primary-click-dark

            box-border border-x-[1px] border-x-border/[.16]
            dark:border-x-border-dark/[.48]
            flex justify-center items-center
        ">
            <button
                class="w-full h-full flex justify-center items-center"
                on:click={switchLanguages}
            >
                <Switch />
            </button>
        </div>

        <div class="dst-lang-select flex-1">
            <LanguageSelect bind:code={$dstLangCode} />
        </div>
    </div>

    <div class="middle flex group">
        <div class="
            vert-split-left p-2 flex-1 flex

            box-border border-r-[1px] border-r-border/[.16]
            dark:border-r-border-dark/[.48]
        ">
            <textarea class="
                w-full min-h-[280px]
                bg-transparent outline-0
                font-text text-lg
                text-text-2nd
                dark:text-text-2nd-dark
                transition-colors
            "
                bind:value={$srcText}
                on:input={onSrcchange}
                placeholder="Enter or paste text here..."
            />
        </div>

        <div class="vert-split-right p-2 flex-1 flex relative">
            <div class="loading-animation-wrapper
                absolute w-[calc(100%_-_16px)] p-2
                { loading === true
                    ? 'visible [transition:_visibility_0s'
                    : '[visibility:hidden] [transition:_visibility_0s_300ms]'
                }
            ">
                <div role="status" class="
                    space-y-2.5 animate-pulse max-w-lg
                    transition-opacity
                    duration-300
                    { loading === true ? 'opacity-100' : 'opacity-0' }
                ">
                    <div class="flex items-center w-full space-x-2">
                        <div class="
                            w-32 h-2.5 rounded-full
                            bg-zinc-200 dark:bg-zinc-600
                        "></div>

                        <div class="
                            w-24 h-2.5 rounded-full
                            bg-zinc-300 dark:bg-zinc-800
                        "></div>

                        <div class="
                            w-full h-2.5 rounded-full
                            bg-zinc-300 dark:bg-zinc-800
                        "></div>
                    </div>

                    <div class="
                        flex items-center w-full space-x-2 max-w-[480px]
                    ">
                        <div class="
                            w-full h-2.5 rounded-full
                            bg-zinc-200 dark:bg-zinc-600 
                        "></div>

                        <div class="
                            w-full h-2.5 rounded-full
                            bg-zinc-300 dark:bg-zinc-800 
                        "></div>

                        <div class="
                            w-24 h-2.5 rounded-full
                            bg-zinc-300 dark:bg-zinc-800
                        "></div>
                    </div>
                    <div class="
                        flex items-center w-full space-x-2 max-w-[400px]
                    ">
                        <div class="
                            w-full h-2.5 rounded-full
                            bg-zinc-300 dark:bg-zinc-800 
                        "></div>

                        <div class="
                            w-80 h-2.5 rounded-full
                            bg-zinc-200 dark:bg-zinc-600
                        "></div>

                        <div class="
                            w-full h-2.5 rounded-full
                            bg-zinc-300 dark:bg-zinc-800
                        "></div>
                    </div>
                    <div class="
                        flex items-center w-full space-x-2 max-w-[480px]
                    ">
                        <div class="
                            w-full h-2.5 rounded-full
                            bg-zinc-200 dark:bg-zinc-600
                        "></div>

                        <div class="
                            w-full h-2.5 rounded-full
                            bg-zinc-300 dark:bg-zinc-800
                        "></div>

                        <div class="
                            w-24 h-2.5 rounded-full
                            bg-zinc-300  dark:bg-zinc-800
                        "></div>
                    </div>
                    <div class="
                        flex items-center w-full space-x-2 max-w-[440px]
                    ">
                        <div class="
                            w-32 h-2.5 rounded-full
                            bg-zinc-300 dark:bg-zinc-800
                        "></div>

                        <div class="
                            w-32 h-2.5 rounded-full
                            bg-zinc-300 dark:bg-zinc-800
                        "></div>

                        <div class="
                            w-full h-2.5 rounded-full
                            bg-zinc-200 dark:bg-zinc-600
                        "></div>
                    </div>
                    <div class="
                        flex items-center w-full space-x-2 max-w-[360px]
                    ">
                        <div class="
                            w-full h-2.5 rounded-full
                            bg-zinc-300 dark:bg-zinc-800 
                        "></div>

                        <div class="
                            w-80 h-2.5 rounded-full
                            bg-zinc-200 dark:bg-zinc-600
                        "></div>

                        <div class="
                            w-full h-2.5 rounded-full
                            bg-zinc-300 dark:bg-zinc-800 
                        "></div>
                    </div>
                    <span class="sr-only">Loading...</span>
                </div>
            </div>

            <textarea class="
                w-full
                h-full
                resize-none
                bg-transparent
                outline-0
                font-text
                text-lg
                text-text-2nd
                dark:text-text-2nd-dark

                disabled:text-text-2nd
                disabled:dark:text-text-2nd-dark

                transition-all

                { loading === true
                    ? 'opacity-0 duration-100'
                    : 'opacity-100 duration-300'
                }
            "
                bind:value={$dstText}
                disabled
                placeholder="The translation will appear here..."
            />
        </div>
    </div>

    <div class="
        bottom p-2 flex justify-end space-x-4
        box-border border-t-[1px] border-t-border/[.16]
        dark:border-t-border-dark/[.48]
    ">
        <Button
            title="Translate" enabled={enableTranslation}
            on:click={onClickTranslate}
        />

        <Button
            title="Save" enabled={enableSave}
            on:click={onClickSave}
        />
    </div>
</Card>

<!----------------------------------------------------------------------------->
