<!-- Script ------------------------------------------------------------------->
<script lang="ts">
    // Imports /////////////////////////////////////////////////////////////////
    export let title = 'Button'
    export let enabled: boolean = true
</script>


<!-- HTML --------------------------------------------------------------------->
<!-- Button -->
<button on:click disabled="{!enabled}" class="
    xsm:w-32
    bg-primary+1 dark:bg-primary-1
    box-border border-[.5px]
    border-primary+1/[.32] dark:border-primary-1/[.32]
    shadow-[0_0_2px_0px] shadow-primary+1 dark:shadow-primary-1
    py-1 px-2
    rounded-md

    hover:bg-primary-1
    hover:border-primary-1

    dark:hover:bg-primary-2
    dark:hover:border-primary-2

    active:bg-primary+2
    active:border-primary+2
    active:shadow-primary+2

    dark:active:bg-primary
    dark:active:border-primary
    dark:active:shadow-primary+2

    group

    transition-all

    disabled:cursor-not-allowed

    disabled:bg-slate-600
    disabled:border-slate-600
    disabled:shadow-slate-600
    disabled:hover:border-slate-600


    dark:disabled:bg-slate-500
    dark:disabled:border-slate-500
    dark:disabled:shadow-slate-600
    dark:disabled:hover:border-slate-500
">
    <span class="
        font-text
        text-zinc-100
        group-active:text-zinc-200
        group-disabled:text-zinc-300
    ">
        {title}
    </span>
</button>

<!----------------------------------------------------------------------------->
