<!-- Script ------------------------------------------------------------------->
<script lang="ts">
    // Imports /////////////////////////////////////////////////////////////////
    let cls = ''
    export { cls as class }
</script>

<!-- HTML --------------------------------------------------------------------->
<!-- Card -->
<div class="
    overflow-visible
    rounded-lg
    box-border border-[.5px] border-border/[.16]
    shadow-[0_0_6px_0] shadow-card-shadow/[.16]
    bg-card

    dark:bg-card-dark
    dark:border-border-dark/[.32]
    dark:shadow-card-shadow/[.32]

    {cls}
">
    <slot></slot>
</div>

<!----------------------------------------------------------------------------->
