<script lang="ts">
	import ExclamationMark from "$lib/components/icons/exclamation-mark.svelte";


</script>

<div class="w-full flex flex-col items-center">
    <ExclamationMark class="
        w-14 h-14 text-accent-1 dark:text-accent-1/[.85]
        mt-20
    "/>
    <span class="
        w-full text-center mt-10
        text-xl font-normal
        text-text-2nd dark:text-text-2nd-dark
    ">
        This page is currently under construction.
        <br>
        Return to
        <a  href="/"
            class="
                underline decoration-wavy
                decoration-accent-1 dark:decoration-accent-1/[.85]
                underline-offset-[3px]
        ">Home</a>.
    </span>
</div>

